body {
  margin: 0;
  height: 2000px;
}

section {
  background: url(https://image.istarbucks.co.kr/upload/common/img/main/2025/2026_new_year_promotion_bg_251226.jpg);
  height: 578px;
  margin-top: 100px;
}

.photo {
  position: absolute;
  top: 90px;
  left: 24.8569%;
  /* animation: photo 2s ease-out infinite alternate; */
}

@keyframes photo {
  from {
    left: -25%;
  }
  to {
    left: 25%;
  }
}

/* 두번째 섹션 */
.section2 {
  background: url(https://www.starbucks.co.kr/common/img/main/fav_prod_bg_new.jpg);
  height: 578px;
  margin-top: 100px;
  position: relative;
}

.cake {
  width: 615px;
  position: absolute;
  top: 100px;
  right: 50px;
  /* animation: cake 1s ease-in-out infinite alternate; */
}

.pick{
  height: 100%;
  color: aliceblue;
  font-size: 5rem;
  width: 256px;
  position: absolute;
  top: 100px;
  left: 25%;
  /* animation: pick 1s ease-in-out infinite alternate; */
;
}

@keyframes cake {
  from{
    right: -20%;
    opacity: 0;
  }
  to{
    right: 50%;
    opacity: 1;
  }
}

@keyframes pick {
  from{
    left: -25%;
  }
  to{
    left: 25%;
  }
}

@keyframes pick {
  from{
    left: 25%;
  }
  to{
    left: -25%;
  }
}