* {
  margin: 0;
  padding: 0;
}

/* ----------------헤더---------------- */
header {
  height: 70px;
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
  color: gray;
  font-weight: 600;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
a:hover {
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 패딩이 너비에 영향을 주지 않도록 설정 */
}
.nav a {
  padding: 15px;
}

a {
  text-decoration: none;
  color: gray;
  font-weight: 600;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.logo img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

/* ---------------- 메인 (배경 이미지 영역) ---------------- */
main {
  width: 100%;
  height: 600px; /* 화면 높이에 맞춰 조절 가능 */
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?q=80&w=2000");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  margin-bottom: 30px;
}

.ment1 {
  position: relative;
  top: 300px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
  color: lightgray;
}

.ment2 {
  position: relative;
  top: 295px;
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
  color: lightgray;
  left: 45px;
}

button {
  position: relative;
  top: 300px;
  left: 45px;
  padding: 5px 24px;
  background-color: #01a1dd; /* 블루보틀 시그니처 블루 */
  border: 0;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

main button:hover {
  background-color: #0087c5;
}

/* ---------------- 푸터 ---------------- */
footer {
  padding: 10px, 50p;
  color: gray;
  font-size: 14px;
  font-weight: 600px;
  letter-spacing: 1.5px;
}

footer a img{
    width: 20px;
}

footer i:hover {
  color: #00a0e9;
}