* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  overflow-x: hidden;
  height: 3000px;
}
/* --------------------------------빈공간-------------------------------- */
header{
  position: relative;
    height: 1000px;
}

header > h1{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* --------------------------------메인 프로모션 섹션-------------------------------- */
.lunar-promo {
  width: 100%;
  height: 600px;
  background-image: url("https://image.istarbucks.co.kr/upload/common/img/main/2025/2026_new_year_promotion_bg_251226.jpg");

  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  color: #fff;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* --------------------------------제품 영역 & 애니메이션 -------------------------------- */
.product-wrap {
  flex: 1;
  display: flex;
  justify-content: center;
}

.product-img {
  height: 450px;
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.3));
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1.5s ease-out;
}

.product-img.active { 
  opacity: 1;
  transform: translateX(0);
}

/* --------------------------------텍스트 콘텐츠 영역-------------------------------- */
.content-wrap {
  flex: 1.5;
  text-align: left;
  padding-left: 50px;
}

.notes {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.title {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 25px;
}

.description {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 40px;
}

.btn-more {
  display: inline-block;
  padding: 10px 35px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  border-radius: 5px;
  transition: 0.3s;
}

.btn-more:hover {
  background-color: #fff;
  color: #d61c21;
}
